.license {
  margin-top: 100px;
}

.license-title {
  color: var(--d-9-d-9-d-9, #113B47);
  font-family: Tenor Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}