.pirce {
  margin-top: 145px;
}

.price-title {
  color: var(--d-9-d-9-d-9, #113b47);
  font-family: Tenor Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.price-text {
  margin-bottom: 25px;
}

.price-text-body {
  display: block;
  padding: 50px 100px;
}

.price-span {
  margin-left: 41px;
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price-body {
  display: flex;
  justify-content: space-between;
}