.container{
  max-width: 1142px !important;
}
.header-fixed {
  top: 0;
}
.banner__title {
  color: var(--d-9-d-9-d-9, #113b47);
  font-family: Tenor Sans;
  font-size: 40px;
  text-transform: uppercase;
}

img {
  width: 100%;
}

.quill {
  background-image: url('../../../assets/images/quill.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.quill-left {
  background-image: url('../../../assets/images/quillLeft.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.quill-left-black {
  background-image: url('../../../assets/images/quillLeftBlack.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.text-block {
  margin-bottom: 145px;
}

.title {
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-weight: 600;
}

.text {
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-weight: 300;
}

.custom-color li::marker {
  color: var(--d-9-d-9-d-9, #3a7e7f);
}

.custom-color {
  list-style-type: disc;
}

a {
  color: #3a7e7f;
}

blockquote {
  position: relative;
  padding-left: 20px;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: #3a7e7f;
  border-radius: 10px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #3a7e7f;
  border-bottom: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #3a7e7f;
  padding: 8px;
}

.table th {
  background: var(--f-3-fdfe, #f3fdfe);
  font-weight: bold;
  border-top: 0;
}

.table td:last-child,
.table th:last-child {
  border-right: 0;
}

.table td:first-child,
.table th:first-child {
  border-left: 0;
  border-top: 0;
}


.avantages-text {
  margin-left: 30px;
}

.avantages-number-box{
  height: 100px;
  width: 15%;
  min-width: 40px;
  border-radius: 10% 100% 100% 10%;
  background: #3A7E7F;
}

.plus {
  width: 32px;
  height: 32px;
  background-color: #3a7e7f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 17px 20px 21px 19px;
}

.howIt {
  margin-bottom: 145px;
  border-radius: 10px;
  box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
}
.avantages__card {
  border: 1px solid var(--2, #3a7e7f);
  background: var(--f-3-fdfe, #f3fdfe);
}

.photos {
  margin-top: 145px;
}


.price-title {
  color: var(--d-9-d-9-d-9, #113b47);
  font-family: Tenor Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.price-text {
  margin-bottom: 25px;
}

.price-text-body {
  display: block;
  padding: 35px 70px;
}

.price-span {
  margin-left: 41px;
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price-body {
  display: flex;
  justify-content: space-between;
}

.main-form-background{
  margin-top: 125px;
  height: 1000px;
  
  background: url('../../../assets/images/plastic-surgery.png');
  background-repeat: no-repeat;
  background: cover;
  background-position: center;
  transform:scaleX(-1);
  border-top-left-radius: 60% 20%; /* Радиус скругления */
  border-top-right-radius: 60% 20%; /* Радиус скругления */
  background-size: 2000px;
}

.main-form{
  transform:scaleX(-1);
  padding-top: 250px;
}

.main-form-title{
  color: var(--d-9-d-9-d-9, #113B47);
  font-family: Tenor Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 54.9px; /* 137.25% */
  text-transform: uppercase; 
}

.main-form-sended{
  color: var(--d-9-d-9-d-9, #113B47);
  font-family: Tenor Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 54.9px; /* 183% */
  text-transform: uppercase;
  margin-top: 38px; 
}

.main-form-alert{
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 28px;  
}

.main-form-inputs input{
  width: 450px;
  padding: 5px;
  padding-left: 25px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid var(--d-9-d-9-d-9, #3A7E7F); 
}

.FAQs {
  margin-top: 145px;
}

.FAQs-title {
  color: var(--d-9-d-9-d-9, #113b47);
  font-family: Tenor Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about {
  margin-top: 100px;
  height: 55em;
  padding-top: 140px;
  background: var(--f-3-fdfe, #f3fdfe);
}

.img-about {
  padding-top: 100px;
  width: 100%;
  flex-shrink: 0;
}

.avantages-method {
  margin-top: 50px;
}

.cart-title {
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-size: 16px;
  margin-left: 32px;
}

.span-avantages {
  position: absolute;
  color: #FFF;
  font-family: Orchidea Pro;
  font-weight: 400;
}

.avantages-title {
  color: var(--d-9-d-9-d-9, #113B47);
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.license {
  margin-top: 100px;
}

.license-title {
  color: var(--d-9-d-9-d-9, #113B47);
  font-family: Tenor Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.contacts {
  margin-top: 100px;
}

.map-container {
  position: relative;
}
.map-img {
  width: 100%;
  height: auto;
  max-width: 139%;
  display: block;
}

.bolt-color {
  color: var(--d-9-d-9-d-9, #3A7E7F);
}
.margin-p {
  margin-left: 38px;
}
.margin-r {
  margin-right: 17px;
}


@media (max-width: 992px) {
  .quill {
    background-size: 30%
  }
  .quill-left {
    background-image: none;
  }
  .quill-left-black {
    background-image: none;
  }
}

@media (max-width: 1200px) {
    .card-title{
      font-size: 20px ; 
    }
    .about {
    height: 85em ;
    }
    .img-about {
    width: 50% ;
  }

}


@media (min-width: 375px) and (max-width: 766px) {
  .card-title{
    width: 70%;
      font-size: 15px; 
    }
}


@media (max-width: 670px){
  .license-title {
    font-size: 40px;
  }
  
}

@media (max-width: 415px){
  .license-title {
    font-size: 25px;
  }
  
}

@media (max-width: 550px) {
  .price-text-body {
    padding: 0 ;
  }
  .price-text {
    width: 60% ;
    font-size: 15px ;
}
}

@media (max-width: 375px) {
  

  .card-title  {
    padding: 0 ;
    margin-left: 20px;
  }
  .avantages__card {
    padding: 0 ;
  }
  .photos {
    margin-top: 70px ;
  }
  
  .price-span {
      margin-left: 0 ;
  }
  .img-about {
      width: 100% ;
  }
  .about {
    height: 94em ;
  }
  .photos {
    margin-top: 100px ;
  }
  .custom-svg {
      width: 50px ;
      height: 70px ;
  }
  .span-avantages {
      margin-left: 14px;
  }
  .card-title{
    font-size: 11px ;
  }
}

@media (max-width: 1100px) {
  .certificate-title h1{
      font-size: 50px;
  }
}

@media (min-width: 992px) {
  .button-certificate-xs{
      display: none;
  }

  .button-certificate-lg{
      display: block;
  }
}

@media (max-width: 992px) {
  .button-certificate-xs{
      display: block;
  }

  .button-certificate-lg{
      display: none;
  }

  .main-form-background{
      height: 800px; 
      background-size: cover;
      width: 100%;
  }
  .main-form{
      transform:scaleX(-1);
      padding-top: 200px;
  }
}

@media (max-width: 768px) {
  .main-form-title{
      font-size: 36px;
  }
}

@media (max-width: 460px) {
  .certificate-title h1{
      font-size: 25px;
      
  }

  .cerficate-description p{
      font-size: 16px; 
  }
  .main-form-title{
      font-size: 25px !important;
  }
  .main-form-sended{
      font-size: 25px !important;
  }
}

@media screen and (max-width: 370px) {
  .text-block .button-text-block button{
      width: 100%;
      max-width: none !important;
  }
}

@media(max-width: 576px){
  .main-form-title{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .main-form-sended{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .main-form-alert{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .main-form-inputs{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .main-form-inputs input{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100% !important;
  }
  .main-form-contact{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .main-form-contact .button-meeting-ui-kit{
      width:100%;
      max-width: none;
  }
}

