.text-block {
  margin-bottom: 145px;
}

.title {
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-weight: 600;
}

.text {
  color: var(--d-9-d-9-d-9, #232323);
  font-family: Commissioner;
  font-weight: 300;
}

.custom-color li::marker {
  color: var(--d-9-d-9-d-9, #3a7e7f);
}

.custom-color {
  list-style-type: disc;
}

a {
  color: #3a7e7f;
}

blockquote {
  position: relative;
  padding-left: 20px;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: #3a7e7f;
  border-radius: 10px;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #3a7e7f;
  border-bottom: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #3a7e7f;
  padding: 8px;
}

.table th {
  background: var(--f-3-fdfe, #f3fdfe);
  font-weight: bold;
  border-top: 0;
}

.table td:last-child,
.table th:last-child {
  border-right: 0;
}

.table td:first-child,
.table th:first-child {
  border-left: 0;
  border-top: 0;
}