<%
    const svgs = {
        'google': `<svg class="svg-icon" width="95" height="30" viewBox="0 0 95 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1449_12433)">
            <path class="svg-path" d="M11.8654 10.5037V13.6587H19.5071C19.2732 15.4286 18.6754 16.7239 17.7656 17.6345C16.648 18.7374 14.9065 19.943 11.8654 19.943C7.16083 19.943 3.48295 16.1981 3.48295 11.5554C3.48295 6.9127 7.16083 3.1678 11.8654 3.1678C14.3997 3.1678 16.2581 4.15533 17.6227 5.42502L19.871 3.20627C17.9736 1.38511 15.4263 0 11.8654 0C5.41936 0 0 5.18133 0 11.5426C0 17.9038 5.41936 23.0852 11.8654 23.0852C15.3484 23.0852 17.9736 21.9565 20.027 19.8532C22.1323 17.7755 22.7951 14.8386 22.7951 12.4788C22.7951 11.7478 22.7431 11.068 22.6262 10.5037H11.8654Z" fill="#4285F4"/>
            <path class="svg-path" d="M32.3462 7.93848C28.1745 7.93848 24.7695 11.0678 24.7695 15.3899C24.7695 19.6735 28.1745 22.8412 32.3462 22.8412C36.518 22.8412 39.923 19.6863 39.923 15.3899C39.923 11.0678 36.518 7.93848 32.3462 7.93848ZM32.3462 19.9043C30.059 19.9043 28.0836 18.0447 28.0836 15.3899C28.0836 12.7094 30.059 10.8754 32.3462 10.8754C34.6336 10.8754 36.609 12.7094 36.609 15.3899C36.609 18.0447 34.6336 19.9043 32.3462 19.9043Z" fill="#EA4335"/>
            <path class="svg-path" d="M69.4882 9.60578H69.3715C68.6305 8.73364 67.2011 7.93848 65.3945 7.93848C61.626 7.93848 58.3379 11.1832 58.3379 15.3899C58.3379 19.5709 61.626 22.8412 65.3945 22.8412C67.2011 22.8412 68.6305 22.0461 69.3715 21.1483H69.4882V22.1871C69.4882 25.0344 67.9421 26.5605 65.4596 26.5605C63.4321 26.5605 62.1715 25.1241 61.652 23.9057L58.7667 25.0856C59.5984 27.0607 61.7948 29.4846 65.4596 29.4846C69.3454 29.4846 72.6335 27.2274 72.6335 21.7255V8.32328H69.4882V9.60578ZM65.6806 19.9043C63.3935 19.9043 61.652 17.9805 61.652 15.3899C61.652 12.7607 63.3935 10.8754 65.6806 10.8754C67.9421 10.8754 69.7091 12.7992 69.7091 15.4155C69.7222 18.019 67.9421 19.9043 65.6806 19.9043Z" fill="#4285F4"/>
            <path class="svg-path" d="M49.2417 7.93848C45.07 7.93848 41.665 11.0678 41.665 15.3899C41.665 19.6735 45.07 22.8412 49.2417 22.8412C53.4135 22.8412 56.8184 19.6863 56.8184 15.3899C56.8184 11.0678 53.4135 7.93848 49.2417 7.93848ZM49.2417 19.9043C46.9544 19.9043 44.979 18.0447 44.979 15.3899C44.979 12.7094 46.9544 10.8754 49.2417 10.8754C51.529 10.8754 53.5044 12.7094 53.5044 15.3899C53.5044 18.0447 51.529 19.9043 49.2417 19.9043Z" fill="#FBBC05"/>
            <path class="svg-path" d="M75.2344 0.307617H78.4964V22.8413H75.2344V0.307617Z" fill="#34A853"/>
            <path class="svg-path" d="M88.5671 19.9043C86.8777 19.9043 85.6818 19.1476 84.9022 17.6471L94.9999 13.5302L94.6623 12.6838C94.0385 11.0165 92.1152 7.93848 88.2033 7.93848C84.317 7.93848 81.0811 10.9524 81.0811 15.3899C81.0811 19.5709 84.2785 22.8412 88.5671 22.8412C92.024 22.8412 94.0255 20.7507 94.8571 19.5452L92.284 17.8523C91.4263 19.0835 90.2564 19.9043 88.5671 19.9043ZM88.3331 10.7344C89.6718 10.7344 90.8156 11.4141 91.1923 12.376L84.3691 15.159C84.3691 12.0297 86.6177 10.7344 88.3331 10.7344Z" fill="#EA4335"/>
            </g>
            <defs>
            <clipPath id="clip0_1449_12433">
            <rect width="95" height="30" fill="white"/>
            </clipPath>
            </defs></svg>`, 
        'doctors': 
        `<svg class="svg-icon" width="175" height="30" viewBox="0 0 175 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1449_12440)">
            <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M17.2039 0.192248C16.9913 0.242508 16.6822 0.41859 16.517 0.583795L16.2167 0.883981L16.1854 7.61539L16.1542 14.3468L16.4178 14.738C16.9742 15.5636 17.9789 15.6442 18.6456 14.9166L19.0216 14.5063V12.4023V10.2981L21.9124 10.3545C29.1059 10.4948 30.5158 9.59018 30.5246 4.82876C30.5303 1.71711 29.5597 0.563187 26.6346 0.204498C25.463 0.0608167 17.8028 0.0508565 17.2039 0.192248ZM36.7099 0.241936C33.0152 0.975457 32.5443 1.88048 32.5367 8.26338C32.5296 14.3338 34.1717 15.8797 40.3472 15.6164C45.6915 15.3887 46.3337 14.7187 46.5192 9.17928C46.7904 1.07495 46.1955 0.245371 40.0301 0.129967C38.1765 0.0952776 37.2996 0.12493 36.7099 0.241936ZM4.00168 0.364781C0.307055 1.06304 0.109679 1.49145 0.046024 8.95031L0 14.3313L0.269732 14.732C0.84526 15.5872 2.04566 15.5911 2.61947 14.7396L2.8789 14.3546V9.3967C2.8789 2.83371 2.63985 3.18392 7.13749 3.15748C11.3338 3.13275 11.0486 2.69369 11.122 9.29377C11.1739 13.9615 11.1981 14.4736 11.3804 14.7417C11.9014 15.5083 12.9825 15.5994 13.5973 14.9284L13.9944 14.4953L13.9606 8.91779C13.9201 2.20735 13.8435 1.86766 12.1643 0.953704C10.9355 0.284869 6.2233 -0.0550443 4.00168 0.364781ZM27.2022 3.23109C27.7653 3.4983 27.8945 3.84886 27.8934 5.10433C27.8911 7.32974 27.874 7.33753 22.8856 7.38172L19.0216 7.41606V5.23508V3.05421H22.9255C26.2093 3.05421 26.8886 3.08226 27.2022 3.23109ZM42.8085 3.32989C43.7791 3.74457 43.7509 3.60707 43.7509 7.94053V11.7657L43.4793 12.0373C42.5444 12.9722 36.9797 13.0109 35.8098 12.0907L35.5078 11.8532V7.99434C35.5078 3.7282 35.4922 3.82311 36.25 3.4635C37.2283 2.99925 41.8158 2.90583 42.8085 3.32989Z" fill="#EB2326"/>
            <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M56.7083 0.335339C56.4034 0.54508 55.759 1.6927 53.2371 6.51766L50.1402 12.4424L49.5015 12.4432C47.9826 12.4449 47.2278 13.8682 48.2196 14.8601L48.6641 15.3046H57.4204C66.1268 15.3046 66.1784 15.3032 66.4807 15.0655C67.6273 14.1636 67.0235 12.4424 65.5605 12.4424C65.0236 12.4424 65.3601 12.9831 62.6032 7.69115C58.9014 0.585495 58.8858 0.557674 58.4797 0.306717C57.9684 -0.00926772 57.1907 0.00321141 56.7083 0.335339ZM72.0654 0.312441C68.7969 1.0502 68.4105 1.7741 68.3394 7.29549C68.2758 12.2247 68.391 12.9254 69.431 13.9347C72.136 16.5598 80.95 16.0933 81.9491 13.2721C82.3021 12.2748 82.4935 5.83119 82.2275 3.89269C81.905 1.54284 80.8199 0.549202 78.1919 0.197611C76.6824 -0.00434469 73.1781 0.0612564 72.0654 0.312441ZM85.314 0.306603C84.5069 0.733068 84.5256 0.556185 84.5258 7.76569C84.5259 15.0253 84.502 14.8111 85.3606 15.2305C86.8506 15.9584 87.4684 15.0021 87.4423 12.008C87.428 10.3507 87.4513 10.038 87.5858 10.0897C87.6741 10.1236 89.3969 11.3164 91.4141 12.7404C95.3866 15.5448 95.5538 15.6294 96.3642 15.2448C97.2449 14.8268 97.4169 13.5278 96.6712 12.9253C96.4131 12.7168 92.8873 10.2037 91.0281 8.90312C90.1654 8.29954 89.4597 7.77988 89.46 7.7484C89.4605 7.71691 91.1108 6.53197 93.1276 5.11519C96.6172 2.66378 97.0599 2.2893 97.1205 1.73781C97.2535 0.525961 95.9528 -0.356394 94.9686 0.278095C94.7976 0.388347 93.0818 1.59081 91.1557 2.95046C89.2295 4.31 87.6067 5.45132 87.5493 5.48681C87.488 5.52471 87.4449 4.64796 87.4448 3.35826C87.4445 0.894839 87.3757 0.65888 86.5428 0.263555C86.0455 0.0275971 85.8272 0.0352679 85.314 0.306603ZM99.1126 0.294238C96.9996 1.58279 98.2504 3.05441 101.458 3.05441H103.416V8.77478V14.4951L103.763 14.8905C104.407 15.624 105.527 15.5197 106.047 14.6779C106.271 14.3167 106.278 14.1193 106.278 8.67941V3.05441L108.253 3.05396C110.01 3.05361 110.269 3.02888 110.594 2.83002C111.563 2.23972 111.519 0.815842 110.516 0.287827C109.893 -0.040065 99.6512 -0.0342259 99.1126 0.294238ZM115.558 0.321142C112.273 1.07745 111.89 1.8602 111.89 7.80564C111.89 12.5047 111.999 13.0479 113.147 14.0805C115.804 16.4695 124.07 16.0752 125.385 13.4967C126.414 11.4811 125.988 2.78308 124.797 1.49189C123.596 0.188223 118.783 -0.421652 115.558 0.321142ZM128.957 0.227263C128.076 0.536264 128.12 0.153533 128.103 7.70833C128.087 15.0546 128.062 14.7743 128.754 15.1958C130.234 16.0982 131.007 15.0952 131.007 12.2743V10.3816H134.262C141.279 10.3816 142.505 9.53864 142.503 4.71448C142.502 1.91389 141.561 0.69128 139.063 0.246039C137.873 0.0341229 129.553 0.0186671 128.957 0.227263ZM148.181 0.246955C144.846 0.943267 144.352 1.74754 144.223 6.68092C144.03 14.1277 144.977 15.4224 150.757 15.6128C156.748 15.81 157.971 14.8425 158.16 9.75193C158.434 2.41649 157.975 1.05089 154.993 0.337285C154.005 0.100983 149.186 0.0370997 148.181 0.246955ZM161.492 0.242719C160.632 0.627625 160.661 0.366939 160.66 7.81881C160.66 16.4143 159.851 15.4191 166.834 15.4191C172.884 15.4191 173.496 15.252 174.467 13.3358C175.089 12.1083 175.023 8.90747 174.362 8.24665C174.225 8.1096 174.277 7.70947 174.511 7.0925C175.708 3.94421 174.65 1.15163 171.971 0.389034C170.864 0.0738501 162.141 -0.04785 161.492 0.242719ZM78.2268 3.23622C78.5634 3.33617 78.985 3.564 79.1636 3.7426L79.4882 4.06717V7.91681V11.7663L79.1996 12.0338C78.2497 12.9142 72.485 12.9154 71.5355 12.0356L71.2451 11.7663V7.99832C71.2451 3.80396 71.232 3.87632 72.0654 3.44539C72.8785 3.02488 77.0397 2.8836 78.2268 3.23622ZM121.603 3.17611C121.957 3.2519 122.336 3.44104 122.611 3.67803L123.051 4.05835L123.081 7.76385C123.123 12.7755 123.322 12.5293 119.136 12.6406C114.625 12.7605 114.728 12.8748 114.774 7.78251C114.811 3.71741 114.786 3.85102 115.589 3.43589C116.296 3.07044 120.303 2.89734 121.603 3.17611ZM139.075 3.2171C139.648 3.45672 139.823 3.89189 139.823 5.08084C139.822 7.28896 139.716 7.33785 134.814 7.38204L131.007 7.41638V5.2354V3.05441H134.846C137.905 3.05441 138.765 3.0875 139.075 3.2171ZM154.451 3.3301C155.421 3.74477 155.393 3.60716 155.393 7.94108V11.7663L155.101 12.0371C154.194 12.8775 148.357 12.8853 147.453 12.0473L147.15 11.7663V7.99832C147.15 3.80396 147.137 3.87632 147.971 3.44539C148.834 2.99877 153.482 2.91611 154.451 3.3301ZM171.241 3.18035C172.043 3.40314 172.338 3.8224 172.334 4.73429C172.327 6.20144 172.349 6.19435 167.672 6.23968L163.865 6.27655V4.66548V3.05441L167.329 3.0551C169.472 3.05544 170.963 3.10319 171.241 3.18035ZM59.7105 8.42696C60.8282 10.5627 61.7426 12.34 61.7426 12.3763C61.7426 12.4126 59.8693 12.4424 57.5797 12.4424H53.4167L54.3455 10.6868C54.8562 9.72124 55.7893 7.94429 56.4189 6.73805C57.8013 4.08984 57.3086 3.83705 59.7105 8.42696ZM171.561 9.58523C172.158 9.75113 172.337 10.0613 172.337 10.9298C172.337 12.4989 172.182 12.5511 167.5 12.5543L163.865 12.5569V11.0113V9.46571L167.5 9.46639C169.648 9.46674 171.31 9.5154 171.561 9.58523Z" fill="#117BC0"/>
            </g>
            <defs>
            <clipPath id="clip0_1449_12440">
            <rect width="175" height="16" fill="white"/>
            </clipPath>
            </defs>
            </svg>`, 
        'yandex': `<svg class="svg-icon" width="89" height="30" viewBox="0 0 89 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1449_12443)">
            <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M7.94862 0.0352264C3.04887 0.41666 0.238242 3.32632 0.52213 7.72338C0.696133 10.4186 1.85037 12.3056 4.57085 14.3423C4.80946 14.5209 5.00469 14.6765 5.00469 14.6881C5.00469 14.6996 3.87865 16.3891 2.50234 18.4425C1.12607 20.4959 0 22.1838 0 22.1933C0 22.2029 0.934281 22.2107 2.07619 22.2107H4.15237L6.94139 18.0172C8.47529 15.7108 9.7339 13.8107 9.73818 13.7948C9.74245 13.7789 9.23698 13.4206 8.61489 12.9987C5.68242 11.01 4.98254 10.2793 4.54057 8.74487C3.95153 6.70015 4.46381 4.78179 5.84623 3.85534C6.80555 3.21244 7.72271 3.0132 9.72256 3.0132H10.8461V12.6119V22.2107H12.7674H14.6887V11.1054V0L11.4891 0.00434894C9.72933 0.00674088 8.13613 0.0206264 7.94862 0.0352264Z" fill="#FC3F1D"/>
            <path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M54.7344 5.84082C50.727 6.15568 48.4468 9.38437 48.57 14.569C48.6554 18.1626 49.8542 20.5089 52.2109 21.6954C54.6932 22.9451 58.777 22.7414 61.1953 21.2472L61.4511 21.0892V19.5583C61.4511 17.8105 61.475 17.952 61.208 18.1235C58.9215 19.5929 55.4744 19.9335 53.878 18.8477C53.077 18.3027 52.4641 16.8766 52.4641 15.5555C52.4641 15.5037 52.6965 15.5009 57.0387 15.5009H61.6133L61.5965 13.9089C61.534 8.01697 59.3731 5.47637 54.7344 5.84082ZM84.2275 5.84011C79.8583 6.1646 77.2916 9.6305 77.5621 14.8409C77.8169 19.7468 80.0775 22.2367 84.5107 22.4947C86.3024 22.599 87.8185 22.2953 88.8377 21.6279L88.9999 21.5213V19.9711C88.9999 19.1185 88.9938 18.421 88.9857 18.421C88.9775 18.421 88.8712 18.4856 88.7492 18.5647C86.931 19.7438 84.2402 19.7817 82.9342 18.6465C81.0113 16.9744 80.9904 11.4506 82.9011 9.6773C84.0922 8.57189 86.4316 8.52775 88.5356 9.57101C88.7731 9.68882 88.9745 9.78518 88.9836 9.78518C88.9928 9.78518 88.9999 9.06544 88.9999 8.18582V6.58651L88.8107 6.49057C87.8861 6.02272 85.7842 5.72444 84.2275 5.84011ZM17.8809 14.1652V22.2107H19.7712H21.6615V18.8558V15.5009H24.1869H26.7124L26.7203 18.8481L26.7282 22.1952L28.6262 22.2032L30.5243 22.2112V14.1654V6.11964H28.6185H26.7127V9.28817V12.4567H24.187H21.6615V9.28817V6.11964H19.7712H17.8809V14.1652ZM34.8932 7.23019C34.8909 12.8932 34.3936 16.8306 33.4158 18.9257L33.3035 19.1665H32.7041H32.1047V22.5059V25.8452H33.8556H35.6065V24.028V22.2107H39.8364H44.0664V24.028V25.8452H45.8328H47.5991V22.5059V19.1665H46.7779H45.9567V12.643V6.11964H40.4252H34.8937L34.8932 7.23019ZM64.1236 14.1574L64.1318 22.1952H66.0221H67.9125L67.9277 18.2637L67.943 14.3322L70.732 18.2715L73.5205 22.2107H75.6667C76.8476 22.2107 77.8129 22.2003 77.8129 22.1874C77.8129 22.1746 76.4478 20.2219 74.7802 17.848L71.7481 13.5318L72.0635 13.0952C72.2374 12.8551 73.3878 11.2607 74.6211 9.5522C75.8538 7.84369 76.9168 6.3724 76.9829 6.28272L77.1024 6.11964H75.182H73.2622L70.6028 9.80394L67.943 13.4882L67.9354 9.80394L67.9277 6.11964H66.0216H64.116L64.1236 14.1574ZM55.837 8.86773C57.0611 9.12585 57.6348 10.1365 57.7202 12.1849L57.7416 12.7052H55.0995H52.457L52.4784 12.4023C52.6615 9.78584 53.9186 8.46315 55.837 8.86773ZM42.1451 14.1341V19.1665H39.48C38.0143 19.1665 36.815 19.1599 36.815 19.1518C36.815 19.1436 36.8552 19.0353 36.9042 18.911C37.6464 17.031 38.1446 13.2767 38.1472 9.54445L38.1475 9.10178H40.1463H42.1451V14.1341Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_1449_12443">
            <rect width="89" height="26" fill="white"/>
            </clipPath>
            </defs>
            </svg>`, 
        '2gis': `<svg class="svg-icon" width="83" height="30" viewBox="0 0 83 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1449_12427)">
            <path class="svg-path" d="M79.1919 9.87174H83.0004C82.5185 6.1699 79.8113 4.22412 76.0492 4.22412C72.2407 4.22412 69.6943 6.24114 69.6943 9.70562C69.6943 13.6447 72.9749 14.5226 74.7184 14.8787C76.9665 15.3295 79.1691 15.377 79.1691 17.3702C79.1691 18.7228 78.0678 19.3872 76.5079 19.3872C74.5809 19.3872 73.2965 18.3905 72.9749 16.5872H69.2129C69.442 20.4788 72.172 22.567 76.1868 22.567C79.9033 22.567 82.9544 20.811 82.9544 17.0143C82.9544 12.9328 79.4442 12.1972 76.9898 11.8175C75.3151 11.5565 73.4796 11.3192 73.4796 9.49204C73.4796 8.21068 74.4201 7.42763 76.0032 7.42763C77.8387 7.42763 78.9395 8.4955 79.1919 9.87174Z" fill="#403F41"/>
            <path class="svg-path" d="M67.1252 4.81738H63.5234V22.0211H67.1252V4.81738Z" fill="#403F41"/>
            <path class="svg-path" d="M52.6498 16.0176H57.3528C56.6186 17.8686 54.9666 18.7464 53.0629 18.7464C49.7134 18.7464 48.1535 16.065 48.1535 13.4073C48.1535 10.7259 49.6214 7.99704 53.0396 7.99704C55.1274 7.99704 56.6873 8.99367 57.284 10.7733L61.1608 10.7734C60.4959 6.76319 57.1004 4.46143 53.0856 4.46143C48.1303 4.46143 44.4141 7.94953 44.4141 13.4548C44.4141 19.0312 48.4514 22.3296 53.0629 22.3296C57.6051 22.3296 61.1608 19.2685 61.1608 14.4752V13.0751H52.6498V16.0176Z" fill="#403F41"/>
            <path class="svg-path" d="M36.1782 4.46094C32.0488 4.46094 28.9977 7.14229 29.0206 11.6034H32.7371C32.6912 9.6576 33.8841 7.87792 35.9946 7.87792C37.83 7.87792 38.9082 9.20679 38.9082 10.7254C38.9082 12.2441 37.8299 13.0984 35.834 14.0239C33.104 15.2815 31.1542 16.0883 29.1582 16.8002V22.0206H43.0605V18.5086H33.5164C33.5164 18.5086 33.5482 18.4983 33.5639 18.4935C35.1872 17.9847 36.4067 17.4319 37.8529 16.7765C40.9499 15.3527 42.7163 13.5729 42.7163 10.5356C42.7163 6.81005 40.0552 4.46094 36.1782 4.46094Z" fill="#403F41"/>
            <path class="svg-path" d="M19.2474 15.97C14.5674 15.9937 13.8104 18.9124 13.5581 21.3803L13.4434 22.4717H12.5027L12.3881 21.3803C12.1358 18.9124 11.3558 15.9937 6.83635 15.97C6.07935 14.3563 5.75816 13.0512 5.75816 11.58C5.75816 7.902 8.6717 4.46112 12.9845 4.46112C17.2974 4.46112 20.165 7.87813 20.165 11.6038C20.165 13.0512 20.0274 14.3563 19.2474 15.97ZM12.9387 0C5.82707 0 0 6.0273 0 13.407C0 20.8107 5.82707 26.8379 12.9387 26.8379C20.1191 26.8379 25.9232 20.8107 25.9232 13.407C25.9232 6.02735 20.1191 0 12.9387 0Z" fill="#29B24A"/>
            </g>
            <defs>
            <clipPath id="clip0_1449_12427">
            <rect width="83" height="27" fill="white"/>
            </clipPath>
            </defs>
            </svg>` 
    };
%>
<div class="additional-link-box">
    <a style="text-decoration: none;" href="<%= link %>" >
        <button class="additional-link mx-auto">
            <div>
                <%- svgs[iconType] || '<svg>Default SVG</svg>' %>
            </div>
        </button>
    </a>
    
</div>



<style>

    .additional-link-box{
        width: 100%;
    }
    .additional-link{
        background: #FFFEFE;
        border: 2px solid #3A7E7F; 
        border-radius: 10px;
        width: 100%;
        height: 50px;
        cursor: pointer;
        flex-shrink: 0; 
    }

    .additional-link:hover{
        background: #3A7E7F;
    }

    .additional-link:hover .svg-path{
        background: #3A7E7F;
        fill: white !important;
    }

    .additional-link:active{
        box-shadow: 2px 2px 6.2px 0px rgba(2, 2, 2, 0.35) inset; 
    }

    @media (max-width: 480px) {
    .additional-link svg{
        width: 100%;
    }
}

</style>