<a href="<%= link %>" >
    <div class="button-box">
    </div>  
</a>



<style>
    .button-box{
        width: 65px;
        height: 65px;
        background-color: #3A7E7F;
        border-radius: 50%;
    }
</style>