<a style="text-decoration: none;" href="" >
    <div class="card card-doctor-ui-kit">
        <div class="card-doctor-image-ui-kit">
            <img class="img-fluid" src="../../assets/images/doctor1.png" alt="">
        </div>
        <div class="card-doctor-description-ui-kit justify-content-center text-left align-items-center p-5">
            <span>
                Диагностика и лечение различных форм акне, розацеа, атопического дерматита, экземы, псориаз, грибковые поражения кожи и ногтей, вирусные дерматозы, заболевания волос и кожи волосистой части головы.
            </span>
        </div>
        <div class="card-body d-flex flex-column justify-content-center text-center">
            <div class="card-doctor-text-ui-kit">
                <h5>ПОНИЧ ЕВГЕНИЙ СТЕПАНОВИЧ</h5>
                <p>Дерматолог</p>
            </div>
            <div class="card-doctor-buttons-ui-kit">
                <div class="text-center d-flex justify-content-center">
                    <%- include('../../partials/ui-kit/buttonAbout', { disable: false, about: true }) %>
                </div>
                <div class="mt-2 text-center d-flex justify-content-center">
                    <%- include('../../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
                </div>
            </div>
        </div>
    </div>
</a>
<style>
    .card-doctor-ui-kit{
        position: relative;
        width: 370px;
        height: 630px;
        color: white;
        border-radius: 10px;
    }

    .card-doctor-image-ui-kit{
        width: 368px;
        height: 390px;
        position: relative;
        overflow: hidden;
    }

    .card-doctor-image-ui-kit img{
        border-radius: 0px 0px 200px 200px; 
    }

    .card-doctor-ui-kit .card-doctor-description-ui-kit {
        position: absolute;
        top: 37%;
        left: 50%;
        width: 100%; 
        height: 460px;
        transform: translate(-50%, -50%); 
        display: none;
        text-align: center;
        color: #FFF;
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 10px;
    }

    .card-doctor-ui-kit:hover .card-doctor-description-ui-kit {
        display: flex;
        background: rgba(58, 126, 127, 0.60); 
    }

    .card-doctor-ui-kit:hover img {
        filter: blur(11px);
    }

    .card-doctor-ui-kit:hover .card-doctor-text-ui-kit{
        filter: blur(11px);
    }

    .card-doctor-text-ui-kit h5{
        color: #232323;
        font-family: Tenor Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }

    .card-doctor-text-ui-kit p{
        color: #232323;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 20.8px */ 
    }

    .card-doctor-description-ui-kit{

    }


    .card-doctor-ui-kit:hover{
        
    }

    .button-about-ui-kit{
        width: 100%;
        max-width: 285px;
    }
    .button-meeting-ui-kit{
        width: 100%;
        max-width: 285px;
    }

</style>