<a style="text-decoration: none;" href="<%= link %>" >
    <div class="card card-service-ui-kit d-flex justify-content-center">
        <div class="card-body d-flex flex-column justify-content-end card-service-ui-kit-content">
          <h5 class="card-title card-title-ui-kit">Инъекционная косметология</h5>
          <p class="card-text card-text-ui-kit mb-3 mt-3">Подробнее</p>
        </div>
    </div>
</a>
<style>
    .card-service-ui-kit {
    background-image: url('/assets/images/cardServiceBackground1.png');
    background-size: cover; /* Changed to cover to ensure full coverage */
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    color: white;
    border-radius: 10px;
    position: relative; /* Required for positioning the content */
}

.card-service-ui-kit-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

    .card-service-ui-kit:hover{
        background-image: url('/assets/images/cardServiceBackground1_blured.png');
    }

    .card-service-ui-kit:hover .card-title-ui-kit{
        color: #3A7E7F;
    }

    .card-service-ui-kit:hover .card-text-ui-kit{
        color: var(--d-9-d-9-d-9, #232323);
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }

    .card-title-ui-kit{
        font-family: Tenor Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }

    .card-text-ui-kit{
        color: #FFF;
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    

</style>