<div class="card procedure-ui-box card__item d-flex flex-row p-3 mb-4">
    <div class="card-body d-flex justify-content-between">
      <h4 class="card-title m-0 text-uppercase procedure-ui-kit-title"><%= text %></h4>
      <button class="btn plus" onclick="">+</button>
    </div>
</div>


<style>
@media(max-width: 410px){
    .procedure-ui-kit-title{
        color: var(--d-9-d-9-d-9, #113B47);
        font-family: Orchidea Pro;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }
}

.procedure-ui-box:hover{
    background: var(--f-3-fdfe, #F3FDFE);
    cursor: pointer;
}
</style>

<script>
    
</script>


