<% if (type === 'image') { %>
    <div class="card-service-photo-ui-kit" style="background-image: url('<%= imageUrl %>');">
        
    </div>  
<% } else if (type === 'video') { %>
    <div class="card-service-photo-ui-kit" style="background-image: url('<%= imageUrl %>');">
        
    </div> 
<% } else if (type === 'pdf') { %>
    <!-- <div class="card-service-photo-ui-kit" style="background-image: url('<%= imageUrl %>'); height: 530px;">

    </div> -->
    <div class="card-service-photo-ui-kit card-service-licence">
        <img src="<%= imageUrl %>"  class="img-fluidd">
    </div>
<% } %>


<style>
    .card-service-photo-ui-kit{
        background-size: cover;
        background-repeat: no-repeat;
        width: 366px;
        height: 366px;
        color: white;
        border-radius: 10px;
    }

    .card-service-licence{
        height: auto;
    }
    @media (min-width: 375px) and (max-width: 1200px) {
        .card-service-photo-ui-kit{
            width: 100%;
            height: 70%;
        }
    }

    @media(max-width: 410px){
        .card-service-licence{
            width: 100%;
        }
    }
</style>