<div class="articles-title">
    <span>Статьи</span>
</div>
<div class="row mt-4">
    <div class="col-4">
        <%- include('./articles-box', {}) %>
    </div>
    <div class="col-4">
        <%- include('./articles-box', {}) %>
    </div>
    <div class="col-4">
        <%- include('./articles-box', {}) %>
    </div>
</div>