
<div class="card card-articles-ui-kit">
    <div class="card-articles-image-ui-kit">
        
    </div>
    <div class="card-body card-articles-body d-flex flex-column justify-content-center">
        <div class="card-articles-text-ui-kit">
            <h5>Номеровская Анна Михайловна прошла дополнительное обучение</h5>
            <p>Специалист по коррекции фигуры, реабилитолог клиники Анна Михайловна Номеровская прошла обучение по дополнительной профессиональной программе</p>
        </div>
        <div class="card-articles-buttons-ui-kit d-flex justify-content-between">
            <div class="article-read-more">
                <%- include('../ui-kit/readMore', { disable: false, link: '#' }) %>
            </div>
            <div class="article-time-post mt-2 text-center d-flex justify-content-center">
                <span>4 августа в 11:15</span>
            </div>
        </div>
    </div>
</div>
