<div class="presentation-container">
    <div class="row presentation-row text-center">
        <div class="col-12 presentation-title">
            <span class="text-uppercase">Медицинский центр</span>
        </div>
        <div class="col-12 presentation-brand">
            <span class="text-uppercase">PRODERMA</span>
        </div>
        <div class="col-12 presentation-subtitle">
            <span>Сохраните и приумножьте свое здоровье вместе с нами</span>
        </div>
        <div class="presentation-button col-12 d-flex justify-content-center text-center mt-4">
            <%- include('../ui-kit/buttonAbout', { disable: false, about: false }) %>
        </div>
    </div>
    <div class="telegram-bot">
        <%- include('../ui-kit/telegramBot', {disable:false}) %>
    </div>
</div>