<div class="card card-review-ui-kit">
    <div class="card-body card-review-body d-flex flex-column justify-content-center">
        <div class="card-review-text-ui-kit">
            <h5>Пациент+7-918-92XXXXX</h5>
            <p>
                От всей семьи выражаем благодарность врачу - Поничу Евгению Степановичу! 
                Более 2-х лет не могли завести ребенка. Обошли все клиники, прошли кучу ненужных процедур, 
                были поставлены страшные диагнозы в других городах. ....
            </p>
        </div>
        <div class="card-review-buttons-ui-kit d-flex flex-column">
            <div class="article-read-more">
                <%- include('../ui-kit/readMore', { disable: false, link: '#' }) %>
            </div>
            <div class="article-time-post mt-4 text-left">
                <span>4 августа в 11:15</span>
            </div>
        </div>
    </div>
</div>