<div class="container">
  <%- include('../partials/header') %>
  <%- include('../partials/services/bannerCertificate') %>
  <div class="row">
    <div class="col-12">
      <h6 class="title mt-5">Условия:</h6>
    </div>
  </div>
  <ul class="ps-3 mb-2 mt-1 custom-color">
    <li>Распростроняется на все услуги</li>
    <li>Действителен в течение 6 месяцев со дня покупки</li>
  </ul>
  <div class="row">
    <div class="col-12">
      <h6 class="title mt-4">Как приобрести</h6>
    </div>
  </div>
  <ul class="ps-3 mb-2 mt-1 custom-color">
    <li>Обратиться в медицинский центр PRODERMA адресу Луговая улица, 4, микрорайон Пригород Лесное, <br> Московская область</li>
    <li class="mt-2">Заказать по телефону +7 (985) 000-11-03</li>
    <li class="mt-2">Оставить контактные данные в форме ниже, наш администратор поможет с выбором успуг и приобретением <br> сертификата</li>
  </ul>
</div>
<%- include('../partials/services/form') %>
<%- include('../partials/footer') %>