<div class="container">
  <%- include('../partials/header') %>
  <%- include('../partials/services/bannerDivorce') %>
  
  <ul class="ps-3 mb-2 mt-5 custom-color">
    <li>
      Биоревитализация
      <ul class="custom-color">
        <li class="green">Hyalual биоревитализация</li>
        <li class="green">Jalupro биоревитализация</li>
        <li class="green">Novacutan биоревитализация</li>
      </ul>
    </li>
    <li>
      Ботокс
      <ul class="custom-color">
        <li class="green">Ботокс в лоб</li>
        <li class="green">Ботокс в лоб</li>
        <li class="green">Ботулинотерапия</li>
        <li class="green">Диспорт</li>
        <li class="green">Диспорт</li>
      </ul>
    </li>
  </ul>
</div>
<%- include('../partials/services/form') %>
<%- include('../partials/footer') %>

<style>
  .green {
    color: #3A7E7F;
  }
</style>