<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header') %>
      <div class="banner mt-5">
        <div class="row">
          <div class="col-md-6 col-xl-3"><h1 class="banner__title mb-4">Ботокс в лоб</h1></div>
        </div>
        <img src="../assets/images/banner.png" class="banner-image rounded-3" alt="Banner Image" />
      </div>
      <div class="text-block">
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-5">Заголовок</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <p class="text">
              Появление крупных межбровных морщин делает выражение лица тяжелым и напряженным.
              Избавиться от неприятной складки поможет введение ботокса в лоб. Опыт наших
              специалистов позволяет решать проблему за одно посещение, при этом окружающие мышцы не
              вовлекаются, а мимика не нарушается.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-2">
            <h6 class="title">Заголовок</h6>
          </div>
        </div>
        <ol class="ps-3 mb-4 mt-1">
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
        </ol>
        <div class="row">
          <div class="col-8">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-4">Заголовок</h6>
          </div>
        </div>
        <ul class="ps-3 mb-2 mt-1 custom-color">
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
          <li>
            Пункт важный мега важный супер важный
            <ul class="custom-color">
              <li>Подпункт второго уровня</li>
            </ul>
          </li>
          <li>Пункт важный мега важный супер важный</li>
        </ul>
        <p class="mb-4 mt-4">
          Можно вставить
          <a href="">ссылку</a>
          прямо в текст и тыкнуть на нее и перейти куда-то.
        </p>
        <blockquote>
          <p>Это крутая цитата</p>
        </blockquote>
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-3">Таблица</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="table-container mb-5">
              <table class="table m-0">
                <thead class="rounded-top">
                  <tr class="table-color">
                    <th>Заголовок 1</th>
                    <th>Заголовок 2</th>
                    <th>Заголовок 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                  <tr>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                  <tr class="table__bottom">
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %> <%-
      include('../partials/questions') %>
      <div class="Avantages">
        <h1 class="mb-5">Преимущества метода</h1>
        <div class="row">
          <div class="col-12">
            <div class="Avantages__card card d-flex flex-row p-3 mb-4">
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                    fill="#3A7E7F" />
                </svg>
                <h4 class="card-title ms-5 text-uppercase me-auto">
                  ВЫСОКИЙ УРОВЕНЬ КОМФОРТА ПРОЦЕДУРЫ
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="Avantages__card card d-flex flex-row p-3 mb-4">
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                    fill="#3A7E7F" />
                </svg>
                <h4 class="card-title ms-5 text-uppercase me-auto">
                  БЫСТРОЕ ДОСТИЖЕНИЕ РЕЗУЛЬТАТА
                </h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="Avantages__card card d-flex flex-row p-3 mb-4">
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                    fill="#3A7E7F" />
                </svg>
                <h4 class="card-title ms-5 text-uppercase me-auto">ДОСТУПНОСТЬ УСЛУГИ</h4>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="Avantages__card card d-flex flex-row p-3 mb-4">
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                    fill="#3A7E7F" />
                </svg>
                <h4 class="card-title ms-5 text-uppercase me-auto">
                  возможность воздействия только на целевую мышцу
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      .banner__title {
        color: var(--d-9-d-9-d-9, #113b47);
        font-family: Tenor Sans;
        font-size: 40px;
        text-transform: uppercase;
      }
      img {
        width: 100%;
      }
      .title {
        color: var(--d-9-d-9-d-9, #232323);
        font-family: Commissioner;
        font-weight: 600;
      }
      .text {
        color: var(--d-9-d-9-d-9, #232323);
        font-family: Commissioner;
        font-weight: 300;
      }
      .custom-color li::marker {
        color: var(--d-9-d-9-d-9, #3a7e7f);
      }
      .custom-color {
        list-style-type: disc;
      }
      a {
        color: #3a7e7f;
      }
      blockquote {
        position: relative;
        padding-left: 20px;
      }
      blockquote::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: #3a7e7f;
        border-radius: 10px;
      }
      .table-container {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #3a7e7f;
        border-bottom: 0;
      }
      .table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
      }
      .table th,
      .table td {
        border: 1px solid #3a7e7f;
        padding: 8px;
      }
      .table th {
        background: var(--f-3-fdfe, #f3fdfe);
        font-weight: bold;
        border-top: 0;
      }
      .table td:last-child,
      .table th:last-child {
        border-right: 0;
      }
      .table td:first-child,
      .table th:first-child {
        border-left: 0;
        border-top: 0;
      }
      .questions {
        margin-top: 145px;
      }
      .card {
        display: flex;
        justify-content: space-between;
      }
      .card__item {
        box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
        border: 0;
        border-radius: 10px;
      }
      .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .plus {
        width: 32px;
        height: 32px;
        background-color: #3a7e7f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        padding: 17px 20px 21px 19px;
      }
      .howIt {
        margin-bottom: 145px;
        border-radius: 10px;
        box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
      }
      .Avantages__card {
        border: 1px solid var(--2, #3a7e7f);
        background: var(--f-3-fdfe, #f3fdfe);
      }
    </style>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
