.carousel-control-prev, .carousel-control-next {
    background: none; 
    color: inherit; 
    border: none;
    opacity: 1;
}

.carousel-control-prev{
    background: none; 
    color: inherit; 
    border: none;
    opacity: 1;
    margin-left: -20px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: none; 
    color: inherit;
    opacity: 1;
}

.populars-title{
    margin: 0 auto;
    width: 90%;
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}
.populars-buttons{
    margin-top: 20px;
   justify-content: space-between;
   width: 96%;
}

.populars-buttons button{
    width: 49%;
}


