.swiperReviews{
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    height: auto;
}

.reviews-title{
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}


.card-review-ui-kit{
    height: auto;
    width: 97%;
    border-radius: 10px;
    border: 1px solid #3A7E7F; 
    margin: 0px 10px;
}

@media (max-width: 700px) {
    .reviews-button-prev{
        left: 30% !important;
    }

    .reviews-button-next{
        right: 30% !important;
    }
}

@media (max-width: 400px) {
    .reviews-button-prev{
        left: 25% !important;
    }

    .reviews-button-next{
        right: 25% !important;
    }
}