
.services-clinic-title{
    color: #113B47;
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}
.service-clinic-block{
    width: 380px;
}