<div class="container">
  <div class="row">
    <div class="col-md-12 col-xl-7">
      <h1 class="license-title">О клинике</h1>
      <p>Мы рады приветствовать Вас в медицинском центре "Proderma”. Красота и <br> здоровье Вашей кожи - наша
        главная миссия.</p>
      <p>При диагностике и лечении врачи используют последние новейшие <br> разработки мировой медицины, такие как:
      </p>

      <ul class="ps-3 mb-4 custom-color">
        <li>радиоволновая дерматокоррекция</li>
        <li>лазерное удаление</li>
        <li>фототерапия</li>
      </ul>
      <h6 class="title mb-3">Основные направления:</h6>
      <ul class="ps-3 mb-2 custom-color">
        <li>Дерматология</li>
        <li>Косметология</li>
        <li>Урология</li>
      </ul>
      <p class="mt-4 mb-4">Наши дерматологи <b>успешно лечат более 2.000 кожных заболеваний,</b> включая: <br>
        псориаз и витилиго.</p>
      <p class="mb-4">У нас вы также <b>можете удалить кожные новообразования:</b> родинки, папилломы, <br>
        бородавки и др. Дерматокоррекция происходит с помощью современного лазера, она <br> совершенно безболезненно
        и занимает считанные секунды.</p>
      <p>У нас <b>возможно комплексное обследование любого пациента за одно посещение,</b> что <br> сэкономит ваше
        время и позволит быстрее начать правильное лечение.</p>
    </div>
    <div class="col-md-12 col-xl-5 text-end text-md-center">
      <img class="img-about" src="../assets/images/about.png" alt="">
    </div>
  </div>
</div>