
<% if (type === 'short') { %>
    <a style="text-decoration: none;" href="" >
        <div class="card card-actions-ui-kit-short">
            <div class="card-actions-image-ui-kit-short">
                
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
                <div class="card-actions-text-ui-kit">
                    <h5>50% скидка </h5>
                    <p>на первое посещение массажа лица</p>
                </div>
                <div class="card-actions-buttons-ui-kit d-flex">
                    <div class="text-center col-6 mr-1">
                        <%- include('../ui-kit/buttonAbout', { disable: false, about: true }) %>
                    </div>
                    <div class="text-center col-6 ml-1">
                        <%- include('../ui-kit/buttonAbout', { disable: false, about: false }) %>
                    </div>
                </div>
            </div>
        </div>
    </a>
    
<% } else { %>
    <a style="text-decoration: none;" href="" >
        <div class="card card-actions-ui-kit">
            <div class="card-actions-image-ui-kit">
                
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
                <div class="card-actions-text-ui-kit">
                    <h5>50% скидка </h5>
                    <p>на первое посещение массажа лица</p>
                </div>
                <div class="card-actions-buttons-ui-kit">
                    <div class="text-center d-flex justify-content-center">
                        <%- include('../ui-kit/buttonAbout', { disable: false, about: true }) %>
                    </div>
                    <div class="mt-2 text-center d-flex justify-content-center">
                        <%- include('../ui-kit/buttonAbout', { disable: false, about: false }) %>
                    </div>
                </div>
            </div>
        </div>
    </a>
<% } %>

