<div class="avantages avantages-method">
  <h1 class="mb-5 license-title">преимущества клиники</h1>
  <div class="row">
    <div class="col-6">
      <div class="avantages__card card d-flex flex-row p-0 mb-4">
        <div class="card-body avantages-title p-0">
          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
            <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
        </svg>
        
          <span class="span-avantages">01</span>
          <p class="card-title mb-0 avantages-text ">
            Индивидуальный подход к любой проблеме
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="avantages__card card d-flex flex-row p-0 mb-4">
        <div class="card-body avantages-title p-0">
          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
            <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
        </svg>
          <span class="span-avantages">02</span>
          <p class="card-title mb-0 avantages-text ">
            Наши специалисты - доктора медицинских наук и врачи <br> высшей квалификационной категории
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="avantages__card card d-flex flex-row p-0 mb-4">
        <div class="card-body avantages-title p-0">
          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
            <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
        </svg>
          <span class="span-avantages">03</span>
          <p class="card-title mb-0 avantages-text ">
            Занимаемся лечением псориаза и витилинго
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="avantages__card card d-flex flex-row p-0 mb-4">
        <div class="card-body avantages-title p-0">
          <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
            <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
        </svg>
          <span class="span-avantages">04</span>
          <p class="card-title mb-0 avantages-text ">
            Ориентация на результат - здоровье пациента
          </p>
        </div>
      </div>
    </div>
  </div>
</div>