<div class="banner mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="banner__title mb-4">Инъекционная косметология</h1>
    </div>
  </div>
  <img src="../assets/images/banner.png" class="banner-image rounded-3" alt="Banner Image" />
</div>