<div class="contacts">
  <h1 class="license-title mb-5">КОНТАКТЫ</h1>
  <div class="row">
    <div class="col-md-12 col-xl-6  ">
      <img class="map" src="../assets/images/map.png" alt="">
    </div>
    <div class="col-md-12 col-xl-6">
      <p class="mb-5">ООО Добромед, ИНН 8601068801, ОГРН 1198617011581 от 03.10.2019 <br>
        <b>Лицензия: ЛО-86-01-003690</b>
      </p>
      <p class="mb-1"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
        <path d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM11 11.6875C10.4561 11.6875 9.92443 11.5262 9.47219 11.224C9.01995 10.9219 8.66748 10.4924 8.45934 9.98988C8.2512 9.48738 8.19674 8.93445 8.30285 8.401C8.40896 7.86755 8.67087 7.37755 9.05546 6.99296C9.44006 6.60836 9.93006 6.34645 10.4635 6.24034C10.997 6.13423 11.5499 6.18869 12.0524 6.39683C12.5549 6.60497 12.9844 6.95745 13.2865 7.40968C13.5887 7.86192 13.75 8.3936 13.75 8.9375C13.7491 9.66657 13.4591 10.3655 12.9435 10.881C12.428 11.3966 11.7291 11.6866 11 11.6875Z" fill="#3A7E7F"/>
      </svg><b class="bolt-color">Адрес:</b></p>
      <p class="margin-p mb-4">Луговая улица, 4, микрорайон Пригород Лесное, Московская область</p>
      <p class="mb-1"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
        <g clip-path="url(#clip0_1449_10133)">
          <path d="M10.9999 1.8335C16.0627 1.8335 20.1666 5.93741 20.1666 11.0002C20.1666 16.0629 16.0627 20.1668 10.9999 20.1668C5.93717 20.1668 1.83325 16.0629 1.83325 11.0002C1.83325 5.93741 5.93717 1.8335 10.9999 1.8335ZM10.9999 5.50016C10.7568 5.50016 10.5236 5.59674 10.3517 5.76865C10.1798 5.94056 10.0833 6.17371 10.0833 6.41683V11.0002C10.0833 11.2433 10.1799 11.4764 10.3518 11.6482L13.1018 14.3982C13.2747 14.5652 13.5063 14.6576 13.7466 14.6555C13.987 14.6534 14.2169 14.557 14.3868 14.3871C14.5568 14.2171 14.6532 13.9872 14.6553 13.7469C14.6574 13.5065 14.565 13.275 14.398 13.1021L11.9166 10.6207V6.41683C11.9166 6.17371 11.82 5.94056 11.6481 5.76865C11.4762 5.59674 11.243 5.50016 10.9999 5.50016Z" fill="#3A7E7F"/>
        </g>
        <defs>
          <clipPath id="clip0_1449_10133">
            <rect width="22" height="22" fill="white"/>
          </clipPath>
        </defs>
      </svg><b class="bolt-color">Рабочие часы:</b></p>
      <p class="margin-p mb-4 margin-r">ПН-ВС 09:00-20:00</p>
      <p class="  mb-4"><svg class="me-3 margin-r" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
        <path d="M6.06833 9.89083C7.38833 12.485 9.515 14.6025 12.1092 15.9317L14.1258 13.915C14.3733 13.6675 14.74 13.585 15.0608 13.695C16.0875 14.0342 17.1967 14.2175 18.3333 14.2175C18.8375 14.2175 19.25 14.63 19.25 15.1342V18.3333C19.25 18.8375 18.8375 19.25 18.3333 19.25C9.72583 19.25 2.75 12.2742 2.75 3.66667C2.75 3.1625 3.1625 2.75 3.66667 2.75H6.875C7.37917 2.75 7.79167 3.1625 7.79167 3.66667C7.79167 4.8125 7.975 5.9125 8.31417 6.93917C8.415 7.26 8.34167 7.6175 8.085 7.87417L6.06833 9.89083Z" fill="#3A7E7F"/>
      </svg>+7 (985) 000-11-03</p>
      <p><svg class="margin-r" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
        <path d="M3.66659 18.3332C3.16242 18.3332 2.73067 18.1535 2.37134 17.7942C2.012 17.4348 1.83264 17.0034 1.83325 16.4998V5.49984C1.83325 4.99567 2.01292 4.56392 2.37225 4.20459C2.73159 3.84526 3.16303 3.66589 3.66659 3.66651H18.3333C18.8374 3.66651 19.2692 3.84617 19.6285 4.20551C19.9878 4.56484 20.1672 4.99628 20.1666 5.49984V16.4998C20.1666 17.004 19.9869 17.4358 19.6276 17.7951C19.2683 18.1544 18.8368 18.3338 18.3333 18.3332H3.66659ZM10.9999 11.9165L18.3333 7.33317V5.49984L10.9999 10.0832L3.66659 5.49984V7.33317L10.9999 11.9165Z" fill="#3A7E7F"/>
      </svg>proderma@bk.ru</p>
    </div>
  </div>
</div>