<div class="container-fluidd main-form-background">
  <div class="container main-form">
      <div class="row w-50">
          <div class="col-12">
              <div class="main-form-title text-uppercase">
                  Поможем с выбором услуги
              </div>
              <div class="main-form-inputs d-flex flex-column mt-4">
                  <input type="text" placeholder="Имя">
                  <input class="mt-2" type="text" placeholder="Номер Телефона">
              </div>
              <div class="main-form-contact mt-4">
                  <%- include('../ui-kit/buttonAbout', {disable: false, about: false}) %>
              </div>
              <div class="main-form-alert">
                  <p>
                      Нажимая кнопку “Перезвоните мне”, вы соглашаетесь c политикой обработки персональных данных. 
                  </p>
              </div>
              <div class="main-form-sended">
                  Форма отправлена!
              </div>
          </div>
      </div>
  </div>
</div>