<div class="quill-left-black">
  <div class="container"><div class="license">
    <div class="row ">
      <div class="col-md-12 col-xl-5">
        <h1 class="license-title">лицензии</h1>
      </div>
      <div class="col-md-12 col-xl-7 d-flex justify-content-around">
        <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto3.png", type: 'pdf' }) %>
        <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/L-img.png", type: 'pdf' }) %>
      </div>
    </div>
  </div></div>
</div>