<div class="quill-left">
  <div class="container">
    <div class="pirce">
      <div class="row">
        <div class="col-md-12 col-xl-5">
          <h1 class="license-title">
            Стоимость <br class=" d-xs-none d-sm-none d-md-none d-lg-none" />
            процедур
          </h1>
        </div>
        <div class="col-md-12 col-xl-7">
          <div class="card card__item p-3 mb-4">
            <div class="price-text-body card-body">
              <div class="price-body">
                <h6 class="price-text">
                  «Botox»: коррекция самых больших лицевых
                  <br />
                  мимических морщин, 1 ед
                </h6>
                <span class="price-span">от 420 ₽</span>
              </div>
              <div class="price-body">
                <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                <span class="price-span">от 420 ₽</span>
              </div>
              <div class="price-body">
                <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                <span class="price-span">от 420 ₽</span>
              </div>
              <div class="price-body">
                <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                <span class="price-span">от 420 ₽</span>
              </div>
              <div class="price-body">
                <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                <span class="price-span">от 420 ₽</span>
              </div>
              <div class="price-body">
                <h6 class="price-text mb-0">«Botox»: коррекция мимических морщин, 1 ед</h6>
                <span class="price-span">от 420 ₽</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>