<div class="questions mb-4">
  <div class="row">
    <div class="col-md-12 col-xl-6">
      <div class="card card__item d-flex flex-row p-3 mb-4">
        <div class="card-body">
          <h4 class="card-title m-0 me-auto text-uppercase">Показания к процедуре</h4>
          <button class="btn plus">+</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <div class="card card__item d-flex flex-row p-3 mb-4">
        <div class="card-body">
          <h4 class="card-title m-0 text-uppercase">противопоказания к процедуре</h4>
          <button class="btn plus">+</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <div class="card card__item d-flex flex-row p-3 mb-4">
        <div class="card-body">
          <h4 class="card-title m-0 text-uppercase">Как подготовиться к процедуре</h4>
          <button class="btn plus">-</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <div class="card card__item d-flex flex-row p-3 mb-4">
        <div class="card-body">
          <h4 class="card-title m-0 text-uppercase">Уход после процедуры</h4>
          <button class="btn plus">-</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card card__item d-flex flex-row p-3 mb-4">
        <div class="card-body">
          <h4 class="card-title m-0 text-uppercase">Как проходит процедура</h4>
          <button class="btn plus">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="howIt p-md-4 p-5">
  <p>
    Инъекции ботокса не требуют сложной подготовки. Достаточно предварительно посетить косметолога в
    клинике и обсудить детали процедуры. В ходе первичной консультации врач оценит состояние кожи,
    наличие заломов и причину их появления, а также ознакомит вас с ценами на ботокс в лоб в СПб.
  </p>
  <h6 class="title mt-5">Как проходит процедура</h6>
  <p>
    Инъекции выполняются врачами-косметологами с большим опытом работы. Не стоит доверять процедуру
    неопытным медработникам. Нарушение техники ведет к появлению неприятных побочных эффектов.
  </p>
  <p class="mt-5 mb-0">Процедура выполняется в следующем порядке:</p>
  <ul class="ps-3 mb-5 custom-color">
    <li>врач просит сильно нахмурить лоб, чтобы понять, насколько выражены морщины;</li>
    <li>
      кожа обрабатывается антисептическим раствором для удаления загрязнений и остатков косметики;
    </li>
    <li>определяются точки введения препарата ботокс в мышечные волокна;</li>
    <li>наносится состав с анестезирующим эффектом для снижения чувствительности;</li>
    <li>
      с помощью тонкой иглы лекарственное средство дозировано вводится в проблемные участки, при
      этом игла располагается строго <br />
      перпендикулярно;
    </li>
    <li>проводится антисептическая обработка.</li>
  </ul>
  <p>
    Сразу после проведения процедуры по устранению морщин на лбу рекомендуется тщательно поработать
    мышцами для равномерного распределения препарата в тканях. Окончательный результат будет заметен
    через 14 дней. Этого времени достаточно, чтобы действующее средство распространилось на мышечные
    клетки.
  </p>
</div>
