<div class="quill">
  <div class="container">
    <div class="text-block">
      <div class="row">
        <div class="col-12">
          <h6 class="title mt-5">Заголовок</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <p class="text">
            Появление крупных межбровных морщин делает выражение лица тяжелым и напряженным.
            Избавиться от неприятной складки поможет введение ботокса в лоб. Опыт наших
            специалистов позволяет решать проблему за одно посещение, при этом окружающие мышцы не
            вовлекаются, а мимика не нарушается.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <h6 class="title">Заголовок</h6>
        </div>
      </div>
      <ol class="ps-3 mb-4 mt-1">
        <li>Пункт важный мега важный супер важный</li>
        <li>Пункт важный мега важный супер важный</li>
        <li>Пункт важный мега важный супер важный</li>
      </ol>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6 class="title mt-4">Заголовок</h6>
        </div>
      </div>
      <ul class="ps-3 mb-2 mt-1 custom-color">
        <li>Пункт важный мега важный супер важный</li>
        <li>Пункт важный мега важный супер важный</li>
        <li>
          Пункт важный мега важный супер важный
          <ul class="custom-color">
            <li>Подпункт второго уровня</li>
          </ul>
        </li>
        <li>Пункт важный мега важный супер важный</li>
      </ul>
      <p class="mb-4 mt-4">
        Можно вставить
        <a href="">ссылку</a>
        прямо в текст и тыкнуть на нее и перейти куда-то.
      </p>
      <blockquote>
        <p>Это крутая цитата</p>
      </blockquote>
      <div class="row">
        <div class="col-12">
          <h6 class="title mt-3">Таблица</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="table-container mb-5">
            <table class="table m-0">
              <thead class="rounded-top">
                <tr class="table-color">
                  <th>Заголовок 1</th>
                  <th>Заголовок 2</th>
                  <th>Заголовок 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                </tr>
                <tr>
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                </tr>
                <tr class="table__bottom">
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                  <td>Описание описание</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="button-text-block">
        <%- include('../ui-kit/buttonAbout', { disable: false, about: false }) %>
      </div>
    </div>
  </div>
</div>